{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p><strong>قیمت:</strong> {{ product.price }} تومان</p>

    <form action="{% url 'customers:wishlist-add' product.id %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Add to Wishlist</button>
    </form>

    <a href="{% url 'customers:wishlist-list' %}" class="btn btn-secondary mt-3">See Wishlist</a>
</div>
{% endblock %}
